<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Corey Augburn</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">

  </head>
  <body>

    <div class="top-container">
      <img class="top-cloud" src="static/cloud.png" alt="cloud-img">
      <h1 class="h1-top">I'm Corey.</h1>
      <h2>a programmer.</h2>
      <img class="bottom-cloud" src="static/cloud.png" alt="cloud-img">
      <img src="static/mountain.png" alt="mountain-img">
    </div>
    <div class="middle-container">
      <div class="profile">
        <img src="" alt="">
        <h2>Hello.</h2>
        <p class="intro">Hello, I'm Corey, a native of Hampton Roads area. I am a Python Developer and Programmer. I enjoy trying new foods, watching movies, and playing videogames.   </p>
      </div>
      <hr>
      <div class="skills">
        <h2>My Skills</h2>
        <div class="skill-row">
          <img class="star" src="https://img.icons8.com/flat-round/64/000000/bookmark-ribbon.png" alt="All-Star Skills">
          <h3>Developing and Programming</h3>
          <p class="skills-description">I obtained my Comptia Security+ Certification as well as a Bachelor's Degree in Computer Science. I have countless hours programming Python projects, developing websites using Flask, and scraping websites with BeautifulSoup. </p>
        </div>
        <div class="skill-row">
          <img class="people" src="https://img.icons8.com/ios-filled/50/000000/family--v1.png" alt="Friends and Family">
          <h3>Friends and Family</h3>
          <p class="hobby-description">I have a lovely wife of two years, am a devoted friend to many, and a loving son and brother. “Family and friendships are two of the greatest facilitators of happiness.” –John C. Maxwell </p>
        </div>
      </div>
      <hr>
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>Contact me for all your Python Programming needs!</h3>
        <p class="contact-message">I can be reached anytime by email.</p>
        <a class="btn" href="mailto:coreyaugburn7@gmail.com">CONTACT ME</a>
      </div>
    </div>

    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/in/corey-augburn-a5181b1b2/">LinkedIn</a>
      <a class="footer-link" href="https://twitter.com/">Twitter</a>
      <a class="footer-link" href="https://github.com/coreyaugburn7">GitHub</a>
      <p class="foot-name">© 2022 Corey Augburn.</p>
    </div>
  </body>
</html>
